.search-area {
    background-color: rgba(115, 199, 6, 0.3);
    height:20vh;
}


.search-bar {
    margin-top: 30px;
}

#search-bar {
    align-items: center;
    width: 70vh;
    height: 50px;
    border: 2px solid black;
    border-radius: 20px;
}

#search-btn {
    margin-left: 20px;
    padding: 5px 20px;
    font-weight: bold;
    border: 2px solid gray;
    border-radius: 10px;
}

#filter-btn {
    margin-left: 20px;
    font-weight: bold;
    border: 2px solid rgb(24, 175, 180);
    border-radius: 10px;
}

#collapseCuisine {
    background-color: rgba(115, 199, 6, 0.3);
}

.cuisineOptions {
    
    margin-bottom: 0%;
    padding: 10px;
    font-size: 20px;
}

#map {
    height:80vh;
}

